{
  "retainLines": true,
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": 4
        },
        "exclude": [
          "transform-regenerator"
        ]
      }
    ]
  ],
  "plugins": [
    [
      "transform-async-to-module-method",
      {
        "module": "bluebird",
        "method": "coroutine"
      }
    ]
  ]
}
